<ion-header>
  <ion-navbar>
    <button *ngIf="eveAuth.currentChar.id > 0" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Character Selection</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)='addCharacter();'>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="eveAuth.authRefreshCharacterList($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

  <ion-list>
		<ion-item-sliding *ngFor="let character of eveAuth.listCharacters">

			<ion-item (click)="selectCharacter(character.CharID, character.RefreshToken)">
				<ion-avatar item-start>
					<img src="https://image.eveonline.com/Character/{{character.CharID}}_128.jpg">
				</ion-avatar>
				<h2>{{character.Name}}</h2>
				<button ion-button clear item-end>></button>
			</ion-item>

			<ion-item-options>
				<button ion-button color="danger" (click)="removeCharacter(character.CharID)"><ion-icon trash></ion-icon> Delete</button>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>
</ion-content>
